@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #000000;
  --primary: #0089c1;
  --secondary: #3982c3;
  --accent: #ffffff;
}

.dark {
  --background: #000000;
  --text: #ffffff;
  --primary: #0089c1;
  --secondary: #3982c3;
  --accent: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/90;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/90;
  }
  .btn-accent {
    @apply bg-accent text-primary hover:bg-accent/90;
  }
}

